[user]
  name = Ruth Linehan
  email = ruth@puppetlabs.com
[merge]
  conflictstyle = diff3
[color]
  diff = auto
  status = auto
  branch = auto
[alias]
  lg = "log --pretty=format:'%C(yellow)%h%C(reset) %s %C(cyan)%ar%C(reset) %C(blue)%an%C(reset) %C(green)%d%C(reset)' --graph --date-order"
  co = "checkout"
  st = "status"
  rt = "remote"
  ra = "! f() { git remote add $1 git@github.com:$1/$(basename $(git remote show -n origin | grep Fetch | cut -d: -f2-)); git remote -v;}; f"
  cl = "! f() { git clone git@github.com:rlinehan/$1.git ;}; f"
  vimadd = "! f() { git subtree add --prefix .vim/bundle/$2 https://github.com/$1/$2.git master --squash;}; f"
  vimupdate = "! f() { git subtree pull --prefix .vim/bundle/$2 https://github.com/$1/$2.git master --squash;}; f"

# given a remote and a branch, fetch the remote, merge the branch locally, and
# push to Github
  update = "! f() { git checkout $2 && git fetch $1 && git merge $1/$2 --ff-only && git push origin HEAD;}; f"
[rerere]
  enabled = 1
[core]
  editor = vim
  excludesfile = ~/.git-ignore
  autocrlf = input
  safecrlf = true
[web]
  browser = open
[push]
  default = current
